body {

	margin: 0;
	padding: 0;
	color: #222;
	text-align: left;
    font-family: "Trebuchet MS", arial, helvetica, sans-serif;
	font-size: 87.5%;
	line-height: 1em;
}


div#header {

	height: 128px;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	border-bottom: 2px solid #c01010;
}

div#header h1 a {

	background: url(../img/macaon.png) no-repeat left top;
	display: block;
	height: 128px;
	text-indent: -999em;
	text-decoration: none;
}

div#header h1 {
	margin: 0;
	padding: 0;
	line-height: 0;
	font-size: 0;
	background-color: #ffffff;
}

div#header h2 {

	float: right;
	line-height: 1.2em;
	font-size: 1.5em;
	margin: 35px 500px 0px 0px;
	color: #222;
}

div#header h2.headright {

       font-style: bold;
       font-size: 3.5em;
       color: #000;
}

div#body {

	padding: 2px 10px;
	color: #F0E39E;
	background: #ffffff;
	margin-left:25px;
}

#busy {

	position: fixed;
	z-index: 1;
	left: 50%;
	top: 50%;
	width: 10em;
	height: 2em;
	margin: -1em 0 0 -5em;
	line-height: 2em;
	text-align: center;
	background: #333;
	color: #fff;
	opacity: 0.95;
}

#form {

	margin-left:40px;
}

#graph_container {

	background: #fff;
	margin: 0 auto;
}

p#footer {
	
	line-height: 30px ;
	margin-left:220px;
	color: #8a0 ;
	font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
}

div.footback {

	clear: both;
	padding: 0px 10px 0px 0px;
}

div#footer {

	padding: 0px 0px 0px 10px;
	color: #595959;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c01010;
}

div.leftfoot {
	float: left;
	width: 30%;
	margin-left: 20px
}

div#footer p {

	font-size: 0.6em;
	padding: 1.5em;
	text-align: center;
	margin: 0;
}

div#footer p a {

	color: #595959;
}

div.hr {

	height: 1px;
	padding: 1em;
	border-bottom: 1px dotted #c01010;
	margin: 1em;
}

div.left49 {

	width: 70%;
}

div.right49 {

	float: right;
	width: 29%;
	text-align: right;
}

#footertalep table {
	
	margin: auto;
	text-align: left;
	vertical-align: middle;
	font-size: 12px;
	padding-bottom: 10px;
}

#footertalep .right {

	text-align: right;
	font-size: 11px;
}

#footertalep a:link img {

        text-decoration: none;
        border: none;
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity:0.5;
        opacity:0.5;
}

#footertalep a:visited img {

        text-decoration: none;
        border: none;
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity:0.5;
        opacity:0.5;
}

#footertalep a:active img {

        text-decoration: none;
        border: none;
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1;
}

#footertalep a:hover img {

        text-decoration: none;
        border: none;
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1;
}
